* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;    
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    vertical-align: middle; /*이미지와 이미지사이 여백이 생기는걸 막아줌*/
}